.reviews-page {
  background-color: #f5f2f0;
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
}

.reviews-container {
  background-color: ghostwhite;
  width: 95%;
  padding-top: 5rem;
  height: 25rem;
  display: flex;
  justify-content: space-around;
  border: 1px solid chocolate;
  margin: 5rem 2rem;
  box-shadow: 5px 2px 2px chocolate;
}

.reviews-entry {
  width: 30%;
  text-align: center;
  padding-top: 5rem;
}

.reviews-entry-description {
  font-size: 1.3rem;
}

.slider-container {
  padding-top: 10rem;
  width: 55%;
}

.opinion {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 5rem;
}

.opinion-title,
.opinion-description {
  margin: 0;
  padding: 1rem;
}

.opinion-description {
  font-size: 1.3rem;
}

.slick-dots {
  bottom: 20px;
}
