.gallery-container {
  background-color: #f5f2f0;
  height: 50rem;
}

.slider-container {
  width: 100%;
  margin: auto;
}

.image {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border: 1rem solid white;
  margin-bottom: 5rem;
}

.slide {
  padding: 0 10px;
}
